.container{
    width: 100%;
    height: 100%; 
}
*{  margin:0;
    padding:0;
    box-sizing: border-box;
} 
body{
    background-image: url(Imagenes/Fondo.jpg);          
} 
.logo1{     
    width: 99%;
    margin: 0.5%;   
    border: 1px solid rgb(238, 148, 30);
    background: url(Imagenes/logo.png) no-repeat right, url(Imagenes/logo.png) no-repeat left;  
    background-size: contain; 
    box-shadow: 0 0 20px rgb(231, 231, 231),
    inset 0 0 10px rgba(189, 132, 47, 0.6);         
}
h1{
    text-align: center;    
    color: white;
    font-size: 90%; 
    font-family: cursive;      
    text-shadow: 8px 5px 5px rgb(238, 148, 30);
    letter-spacing: 18px;
    word-spacing: 10px;    
}
h1::first-line{
    font-size: 200%;    
}
.pizza{
    width: 0.5%;
    padding: 3%;         
    position: absolute;
    top: 0%;
    left: 83%; 
    background: url(Imagenes/Pizza.png) no-repeat;  
    background-size: contain;   
    animation: firts_1 5s linear infinite;    
}
.pizza_2{
   width: 0.5%;
   padding: 3%;     
   position: absolute;
   top: 0%;
   left: 10%;     
   background: url(Imagenes/Pizza.png) no-repeat;  
   background-size: contain;   
   animation: firts_1 5s linear infinite;   
}
@keyframes firts_1{
    100% {transform: rotate(360deg);}
}
.navegacion {
    width: 99%;
    margin: 1% auto;
    background: linear-gradient(90deg, 
     rgba(238, 148, 30, 0.3) 0%, 
     rgba(238, 148, 30, 0.4) 25%,
     rgba(238, 148, 30, 0.4) 75%,  
     rgba(238, 148, 30, 0.3) 100%);
     box-shadow: 0 0 25px rgba(230, 223, 223, 0.6),
     inset 0 0 5px rgba(255, 255, 255, 0.6);
     border-radius: 0 0 30px 30px;
    }
.navegacion ul {
    list-style:none;
    text-align: center;
    text-transform: uppercase;
} 
.opciones >li{
    position:relative; 
    display: inline-block;    
}
.opciones >li >a{
    display: block;
    font-family: cursive;
    padding: 7% 40px; 
    color: white;
    text-decoration: none;
}
.opciones li a:hover{
    color: rgb(233, 204, 42);
    transition: all 0.5s;
}
.opciones .submenu1 li a:hover{
   
    background: orange;
    transition: all 0.5s;
}
/* submenu1 */
.submenu1{
    position: absolute;
    background: linear-gradient(90deg, 
    rgba(238, 148, 30, 0.3) 0%, 
    rgba(238, 148, 30, 1) 25%,
    rgba(238, 148, 30, 1) 75%,  
    rgba(238, 148, 30, 0.3) 100%);
    box-shadow: 0 0 25px rgba(230, 223, 223, 0.8),
    inset 0 0 5px rgba(255, 255, 255, 0.6);
    border-radius: 0 0 20px 20px;
    width: 100%;
    visibility: hidden;
    opacity: 0; 
    transition:opacity 1.5s;
}
.submenu1 li a{
    display: block;
    color:white;
    text-decoration: none;
    padding: 5px ;
    font-family: cursive;
    font-size: 80%;  
}
.opciones li:hover .submenu1 {
    visibility: visible;
    opacity: 1;
}

#box_inicio{
    text-align: center;  
} 
#portadaLeft{
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85% ); 
  border-radius: 2%;   
  opacity: 0.5;  
} 
#portadaRight{     
    clip-path: polygon(0 0, 100% 10%, 100% 85%, 0 100% ); 
    border-radius: 2%;
    opacity: 0.5;      
  } 
#portada{
    box-shadow: 0 0 25px rgba(230, 223, 223, 0.8),
    inset 0 0 5px rgba(255, 255, 255, 0.6); 
    border-radius: 2%;     
    margin-top: 1%;
    
}
#box_pizza1{
    width: 100%;
    text-align: center;  
    display: none;       
    
 }
 #encabezado{
    width:50%;
    height:80px;
    box-shadow: 0 0 25px rgba(230, 223, 223, 0.8),
    inset 0 0 5px rgba(255, 255, 255, 0.6); 
}
#slider{
    width:50%;
    height:350px;
    border-radius: 0 0 10% 10%;  
    box-shadow: 0 0 25px rgba(230, 223, 223, 0.8),
    inset 0 0 5px rgba(255, 255, 255, 0.6); 
}
 .buttonPizza1{    
    border-radius: 50% 40% 40% 50%;  
    border: 1px solid white;   
    background: -webkit-radial-gradient(right center, rgb(255, 0, 0, 0.3) 30%, rgb(250, 213, 4, 0.7) 100%);
    box-shadow: 0 0 15px rgba(230, 223, 223, 0.8);
    color: white;
    font-size: 50px;  
    opacity: 0.5;  
    height:100px;    
    width: 100px; 
    position: absolute;      
    left: 10%;
    top: 60%;
 } 
 .buttonPizza2{  
    border-radius: 40% 50% 50% 40%;  
    border: 1px solid white;   
    background: -webkit-radial-gradient(left center, rgb(255, 0, 0, 0.3) 30%, rgb(250, 213, 4, 0.7) 100%);
    box-shadow: 0 0 15px rgba(230, 223, 223, 0.8);
    color: white;
    font-size: 50px;  
    opacity: 0.5;  
    height:100px;    
    width: 100px; 
    position: absolute;  
    right: 10%;
    top: 60%;        
 }  
.face{
width: 50px;
height: 40px;
background-size: contain;
}
footer{
    position: absolute;
    top: 100%;
}
@media screen and (max-width: 640px){
    h1{
        font-size: 40%;
        letter-spacing: 4px;
        word-spacing: 2px;
    }
    .opciones >li >a{      
        padding: 3% 5px; 
        font-size: 60%;      
    }
    .submenu1 li a{
        padding: 3px ;
        font-size: 50%;  
    }
    #encabezado{
        width:70%;
        height:80px;
     }
    #slider{
        width:70%;
        height:300px;
    }
    .buttonPizza1{
        width: 45px;
        height: 45px;
        font-size: 30px; 
        top:80%;
        left: 3%;
    }
    .buttonPizza2{
        width: 45px;
        height: 45px;
        font-size: 30px; 
        top: 80%;
        right: 3%;
    }
} 
@media screen and (min-width: 641px) and (max-width: 1200px){
    h1{
        font-size: 85%;
        letter-spacing: 5px;
        word-spacing: 1px;
    }
   .opciones >li >a{          
        padding: 15px;    
        font-size: 100%;      
    }
    .submenu1 li a{        
        font-size: 70%;  
    } 
    #encabezado{
        width:80%;
        height:80px;
     }
    #slider{
        width:80%;
        height:350px;
    }
    .buttonPizza1{
        width: 45px;
        height: 45px;
        font-size: 30px; 
        top:80%;
        left: 3%;
    }
    .buttonPizza2{
        width: 45px;
        height: 45px;
        font-size: 30px; 
        top: 80%;
        right: 3%;
    }
}
